.card_user {
    box-shadow: 0 1px 4px 0 rgb(192, 190, 190);
    background: #fff;
    width: 100%;
    height: 65%;
    padding: 5% 5% 5%;
    border-radius: 4px;
}
input[type="submit"] {
    background: #192019;
    color: #fff;
    border: none;
    padding: 6px 7px 6px;
}
.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    /* border: 1px solid #ced4da; */
    background: -webkit-linear-gradient(left, #0072ff96, #8811c5bf);
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
 .login_box {
    margin-top: 100px;
    text-align: center;
    box-shadow: 0px 0px 20px #ccc;
    padding: 0px 0px 10px 0px;
    background: #f3f3f3;
}
.login_box input.form-control {
    border-radius: 25px;
    background: #fff;
    border: 1px solid #ccc;
}
input.btn.btn-info {
    background: #1a99ba;
    border-radius: 0px;
    padding: 7px 30px;
    font-weight: bold;
    box-shadow: 0px 4px 10px #ccc;
} 
.login_box label {
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 2px;
    margin-top: 5px;
}
.login_box h3 {
    margin-top: 0px;
    margin-bottom: 20px;
    background: #1a99ba;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
    .login_box form {
        padding: 4px 20px 0px 20px;
    }
    input.upload_attachment {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.attachedfile, .imageattachment {
    display: inline-block;
    margin-right: 11px;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

 .box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
    content: " ";
    display: table;
}
.box-header .box-title{
    display: inline-block;
    font-size: 13px;
    margin: 0;
    line-height: 1;
}
.box-header>.box-tools {
    position: absolute;
    right: 4px;
    top: 5px;
}
.pull-right {
    float: right!important;
}
.box-header>.box-tools [data-toggle="tooltip"] {
    position: relative;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.fa-comments:before {
    content: "\f086";
}
.direct-chat .box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.direct-chat-messages {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 10px;
    height: 250px;
    overflow: auto;
}
.label-danger, .modal-danger .modal-body {
    background-color: #dd4b39 !important;
    color: #fff;
    margin-right: -5px;
    padding: 2px 2px 2px;
}
.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}
.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}


img.img-circle.profileImgUrl {
    width: 50%;
    height: auto;
}
.user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}
.user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 9px;
}
.user-panel>.info>a>.fa {
    margin-right: 3px;
}
img.user-image.profileImgUrl {
    width: 37px;
    margin-right: 8px;
}
.nav-tabs-custom {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
}
.nav-tabs-custom>.nav-tabs {
    margin: 0;
    border-bottom-color: #f4f4f4;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav {
    padding-left: 0;
    list-style: none;
}
.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #3c8dbc;
}

a.active.show {
    color: #444;
    background: #b43f3f00;
    margin: 0px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.form-control, .is-focused .form-control {
    background-image: none;
    border-bottom: 1px solid #d2d2d2;
    border-radius: 0 !IMPORTANT;
}

.attachedfile, .imageattachment {
    position: relative;
    width: 50px;
}
input.upload_attachment {
    width: 50px;
}
.table .td-actions .btn {
    margin: 0px;
    padding: 2px;
    padding-top: 20px;
}
.tab-content {
    padding-top: 25px;
}

.form-group {

    padding-top: 11px;
}
.bmd-form-group label {
    color: #ff0000;
}

/* 07-april start */

.navbar.navbar-absolute {
    position: fixed;
    width: 100%;
    padding-top: 0px;
    z-index: 1029;
}
.perfect-scrollbar-on .sidebar, .perfect-scrollbar-on .main-panel {
    height: auto;
    max-height: unset;
}
.dataTables_length select {
    height: 29px !important;
    color: black;
    margin-bottom: 10px;
}
.dataTables_filter input {
    height: 29px !important;
}
.navbar .collapse .navbar-nav .nav-item .nav-link {
    background: #fff !important;
    margin-top: 12px;
    box-shadow: 0px 0px 5px 5px #dedede;
}
table#dtBasicExample tr th {
    font-size: 16px;
    font-weight: 500;
    color: #3ca8db;
}
table#dtBasicExample tr td i {
    color: #3ca8db;
        font-size: 14px;
}
table#dtBasicExample tr td img {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    object-fit: cover;
}
table#dtBasicExample1 tr th {
    font-size: 16px;
    font-weight: 500;
    color: #3ca8db;
}
.main-panel .card-header.card-header-primary form#import_form input.btn.btn-info {
    background: #fff;
    color: #3ca8db;
    box-shadow: none;
    border-radius: 5px;
    padding: 9px 28px;
    font-size: 14px;
    text-align: right;
    float: right;
}
.main-panel .card-header.card-header-primary form#import_form p input {
    width: 183px;
}
.main-panel .card-header.card-header-primary form#import_form p label {
    color: #fff;
}
.main-panel .card-header.card-header-primary form#import_form p {
    text-align: right;
}
form#upload_form input.btn.btn-primary.pull-right {
    background: #3ca8db;
    border: 1px solid #3ca8db;
    color: #ffffff;
    box-shadow: none;
    border-radius: 5px;
    padding: 9px 20px;
    font-size: 14px;
}
form#upload_form input.btn.btn-primary.pull-right:hover{
    background: transparent;
    border: 1px solid #3ca8db;
    color: #3ca8db;
    box-shadow: none;
}
form#upload_form button.btn.btn-primary.pull-right:hover {
    background: transparent;
    border: 1px solid #3ca8db;
    color: #3ca8db;
    box-shadow: none;
}
.box.box-danger .box-body ul li img {
    width: 70px !important;
    height: 70px !important;
    object-fit: cover;
    border-radius: 60px;
    display: block;
    margin: 0 auto;
}
.box.box-danger .box-body ul li {
    display: inline-block;
    margin: 20px 0px;
    width: 32%;
}
.box.box-danger .box-body ul{
    padding: 0px;
}
.box.box-danger {
    height: 361px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.direct-chat-msg.right .direct-chat-info span.direct-chat-timestamp.pull-left {
    font-size: 11px;
    color: #a2a2a2;
    line-height: 7px;
    padding-top: 24px;
}
.direct-chat-msg.right img.direct-chat-img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    float: right;
}
.direct-chat-msg.right {
    display: flow-root;
}
.direct-chat-msg.right .direct-chat-text {
    background: #3c8dbc;
    border-color: #3c8dbc;
    color: #fff;
    text-align: right;
    width: 92%;
    float: left;
    padding: 5px 13px;
    border-radius: 5px;
    position: relative;
    margin-top: 5px;
}
.direct-chat-msg.right .direct-chat-text:before {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #3c8dbc;
    border-right: 0px;
    content: '';
    position: absolute;
    right: -7px;
    top: 9px;
    z-index: 9999999999999999;
        left: 100%;
}

.direct-chat-msg .direct-chat-info span.direct-chat-timestamp.pull-left {
    font-size: 11px;
    color: #a2a2a2;
}
.direct-chat-msg img.direct-chat-img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    float: left;
}
.direct-chat-msg {
    display: flow-root;
}
.direct-chat-msg .direct-chat-text {
    background: #e4e4e4;
    border-color: #3c8dbc;
    color: #000000;
    text-align: right;
    width: 92%;
    float: right;
    padding: 5px 13px;
    border-radius: 5px;
    position: relative;
    margin-top: 5px;
}
.direct-chat-msg .direct-chat-text:before {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #e4e4e4;
    content: '';
    position: absolute;
    left: -6px;
    top: 9px;
    z-index: 9999999999999999;
}
.direct-chat-msg span.direct-chat-timestamp.pull-right {
    font-size: 11px;
    color: #a2a2a2;
    line-height: 7px;
    padding-top: 24px;
}
.box-footer .fileDiv.btn.btn-info.btn-flat {
    position: relative;
    height: 41px;
}
.box-footer .btn .material-icons, .btn:not(.btn-just-icon):not(.btn-fab) .fa {
    position: relative;
    display: inline-block;
    top: 17px;
    margin-top: -1em;
    margin-bottom: -1em;
    font-size: 1.1rem;
    vertical-align: middle;
}
.box.box-danger .box-body ul li a {
    text-align: center;
    margin: 0 auto;
    display: block;
    color: black;
    font-size: 15px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.box.box-danger .box-header .btn:focus, .btn.focus, .btn:hover, .btn.btn-default:focus, .btn.btn-default.focus, .btn.btn-default:hover {
    color: #97a0b3;
    background-color: transparent;
    border-color: transparent;
}

/* 07-april End */

/* 12-may-start */

@media only screen and (min-width:1280px) and (max-width:1365px){
.profile_class {
    position: relative;
    left: 44px !important;  
}

}

/* 12-may-end */

/* 13-may-start */

.from_to_date_picker ul li {
    display: inline-block;
    padding-right: 18px;
}
.from_to_date_picker ul {
    padding: 0px 0px 0px 25px;
}
.from_to_date_picker {
    margin-top: 20px;
}
.from_to_date_picker .export_btn:hover {
    color: #3ca8db;
    background: transparent;
}
.from_to_date_picker .export_btn {
    border: 1px solid #3ca8db;
    padding: 5px 21px;
    border-radius: 5px;
    background: #3ca8db;
    cursor: pointer;
}
.from_to_date_picker label {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    padding-right: 4px;
}
.from_to_date_picker input {
    background: #efefef;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    padding: 5px 0px 5px 7px;
}
.selectVendor a.users-list-name {
    position: relative;
}
.selectVendor a.users-list-name span {
    width: 10px;
    height: 10px;
    background: #4c934e;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    left: 5px;
}



/* 13-may-End */

/* 14-may-20 start */

.card_admin form.form-valide input {
    background: #e4e4e4 !important;
    border: none;
    padding: 5px 15px;
    font-size: 13px;
    width: 339px;
}

select#status {
    width: 339;
    padding: 10px 15px;
    border: none;
    font-size: 13px;
    -webkit-appearance: listbox;
}

.from_to_date_picker .timepicker {
    display: none !important;
}



/* 14-may-20 End */

nav.navbar.navbar-expand-lg.navbar-transparent.navbar-absolute .dropdown-menu.dropdown-menu-right {
    padding: 0px;
    margin-top: 4px !important;
}
nav.navbar.navbar-expand-lg.navbar-transparent.navbar-absolute .dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active {
    box-shadow: 0 3px 17px 0px rgba(60, 168, 219, 0.17), 0 7px 7px -11px rgb(60, 168, 219);
    background-color: #3ca8db;
    color: #FFFFFF;
}

nav.navbar.navbar-expand-lg.navbar-transparent.navbar-absolute .dropdown-menu.dropdown-menu-right a {
    font-size: 14px;
    padding: 8px 10px;
    margin: 0px;
}

.dataTables_info {
    font-size: 14px;
}
.pagination>li>a, .pagination>li>span {
    font-size: 14px;
}
p.card-category {
    font-size: 14px;
}
.from_to_date_picker {
    margin-top: 20px;
    font-size: 14px;
}
.from_to_date_picker input {
    font-size: 14px;
    height: 35px;
}
div#dtBasicExample_wrapper tr td {
    font-size: 14px;
}
div#dtBasicExample_wrapper tr th {
    font-size: 14px;
}
.add_user_form select.form-control {
    height: 36px !important;
    background: transparent;
    -webkit-appearance: button;
}
.form-group.add_user_radio input {
    margin: 0px 4px;
}

.form-group.add_user_radio {
    font-size: 15px;
}
.input-group.mt-3.input_file_type {
    margin-bottom: 20px;
}
.input_file_type input {
    padding-bottom: 26px !important;
    font-size: 11px;
}

